In [1]:
import pandas as pd
import json
import requests
import time

In [2]:
data = pd.read_csv("../data/activities.csv")

In [17]:
data["lat"] = ""
data["lon"] = ""
data.head()

  Event ID        Activity         Time         Location lat lon
0    A1128    Yoga Stretch  8am morning      Bishan Park
1    A1129      Zumba Gold          9am    Tampines Mall
2    A1130    Pilates Core          6pm  Orchard Central
3    A1131  Tai Chi Basics          7am  West Coast Park
4    A1132   Aqua Aerobics         10am     Yishun Safra

In [ ]:
for i, location in data.iterrows():
    address = location["Location"]
    response = requests.get(f"https://www.onemap.gov.sg/api/common/elastic/search?searchVal={address}&returnGeom=Y&getAddrDetails=Y&pageNum=1")
    response_json = json.loads(response.content)
    data.loc[i, "lat"] = float(response_json["results"][0]["LATITUDE"])
    data.loc[i, "lon"] = float(response_json["results"][0]["LONGITUDE"])
    print("address: ", address)
    print("lat: ", data.loc[i, "lat"])
    print("lon: ", data.loc[i, "lon"])

In [41]:
data.to_csv("activities_with_lat_lon.csv", index=False)